/* .projects {
  margin: 0;
  background-image: linear-gradient(to right, #13182e, rgb(60, 60, 60));
} */
.heading {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin: 0;
  color: greenyellow;
}
/* .snackcontainer {
  margin: 0;
  background-image: linear-gradient(to right, #13182e, rgb(60, 60, 60));
} */
.about {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0rem;
  margin-bottom: 0rem;
  background-image: linear-gradient(to right, #13182e, rgb(60, 60, 60));
}
.box {
  display: flex;
  align-items: flex-start;
}
.pic {
  display: flex;
  justify-content: center;
  padding: 3em;
}
.para {
  color: white;
  display: flex;
  justify-self: center;
}
.link {
  text-decoration: none;
  color: white;
  border-radius: 20px;

  background-color: rgb(229, 40, 11);
}
.button {
  background-color: rgb(229, 40, 11);
  border-radius: 20px;

  min-height: 3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  border: 1px solid black;
  font-size: medium;
  max-width: 20em;
}
.click {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 6em;
}
@media only screen and (max-width: 600px) {
  .socials {
    /* flex-direction: column; */
    /* justify-content: center; */
    list-style: none;
  }
  .heading {
    display: flex;
    justify-content: right;
  }
}
